{% extends "base.html.twig" %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <img class="img-responsive" src="images/thumb.jpg" alt="">
                    <div class="panel-body">

                        <p class="lead text-danger text-center">
                            Some advertisement box
                        </p>
                        <p>
                            <a class="btn btn-warning btn-md btn-block" href="#">Buy now</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <!-- some content to fill this space -->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <div class="page-header">
                    <h3>
                        Latest users and updates
                    </h3>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="panel panel-default">
                            <img class="img-responsive" src="images/thumb.jpg" alt="" />
                            <div class="panel-body text-center">
                                <h4>
                                    <a href="#">Here goes product tag line</a>
                                </h4>
                                <p class="text-danger">
                                    $100
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="panel panel-default">
                            <img class="img-responsive" src="images/thumb.jpg" alt="" />
                            <div class="panel-body text-center">
                                <h4>
                                    <a href="#">Here goes product tag line</a>
                                </h4>
                                <p class="text-danger">
                                    $100
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="panel panel-default">
                            <img class="img-responsive" src="images/thumb.jpg" alt="" />
                            <div class="panel-body text-center">
                                <h4>
                                    <a href="#">Here goes product tag line</a>
                                </h4>
                                <p class="text-danger">
                                    $100
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="custom-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-7">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                        <div>
                            <ul class="list-unstyled">
                                <li>
                                    <a>Link anchor</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4  col-xs-6">
                        <div>
                            <ul class="list-unstyled">
                                <li>
                                    <a>Link anchor</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                        <div>
                            <ul class="list-unstyled">
                                <li>
                                    <a>Link anchor</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
                <span class="text-right"> <address> <strong>StoreFront, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890</address> <address> <strong>Full Name</strong><br /> <a href="mailto:#">first.last@example.com</a></address></span>
            </div>
        </div>
    </div>
</section>
{% endblock %}
